<div class="row">
  <div class="text-center col-md-2 col-md-offset-5">
    <%= form_for(new_timelog_path(@timelog)) do |f| %>
      <div class="field form-group">
        Description: <%= f.text_field :description, class: "form-control" %>
      </div>
      <div>Time: <span id="time"></span></div>
      <body onload="show();"></body>
      <input class="btn btn-success" type="button" value="start" onclick="start();">
      <input class="btn btn-danger" type="button" value="stop" onclick="stop();">
      <%= f.submit 'Save', class: "btn btn-primary" %>
    <% end %>
</div>