<div class="jumbotron text-center">
  <h1>Welcome to Personal Timer</h1>
  <h3>A site where you can record time spent in browser(chrome).</h3>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <div class="text-center">
       <%= link_to "Start Timing!", new_timelog_path, class: 'btn btn-primary btn-lg btn-block' %>
      <h2>Sign Up</h2>
      <h4>Sign up for free and Save Time Logs</h4>
      <br/>
      <div class="text-center">
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>