<div class="text-center">
	Description: <textarea rows="4" cols="50"></textarea>
	<body onload="show();">
		<div>Time: <span id="time"></span></div>
		<input class="btn btn-success" type="button" value="start" onclick="start();">
		<input class="btn btn-danger" type="button" value="stop" onclick="stop();">
		<input class="btn btn-primary" type="button" value="save" onclick="">
	</body>
</div>
