/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#grad {
    background: rgba(188,22,16,1);
    background: -moz-linear-gradient(left, rgba(188,22,16,1) 0%, rgba(172,15,6,0.83) 43%, rgba(153,12,10,0.71) 75%, rgba(153,8,6,0.68) 82%, rgba(150,12,12,0.65) 91%, rgba(147,16,18,0.65) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(188,22,16,1)), color-stop(43%, rgba(172,15,6,0.83)), color-stop(75%, rgba(153,12,10,0.71)), color-stop(82%, rgba(153,8,6,0.68)), color-stop(91%, rgba(150,12,12,0.65)), color-stop(100%, rgba(147,16,18,0.65)));
    background: -webkit-linear-gradient(left, rgba(188,22,16,1) 0%, rgba(172,15,6,0.83) 43%, rgba(153,12,10,0.71) 75%, rgba(153,8,6,0.68) 82%, rgba(150,12,12,0.65) 91%, rgba(147,16,18,0.65) 100%);
    background: -o-linear-gradient(left, rgba(188,22,16,1) 0%, rgba(172,15,6,0.83) 43%, rgba(153,12,10,0.71) 75%, rgba(153,8,6,0.68) 82%, rgba(150,12,12,0.65) 91%, rgba(147,16,18,0.65) 100%);
    background: -ms-linear-gradient(left, rgba(188,22,16,1) 0%, rgba(172,15,6,0.83) 43%, rgba(153,12,10,0.71) 75%, rgba(153,8,6,0.68) 82%, rgba(150,12,12,0.65) 91%, rgba(147,16,18,0.65) 100%);
    background: linear-gradient(to right, rgba(188,22,16,1) 0%, rgba(172,15,6,0.83) 43%, rgba(153,12,10,0.71) 75%, rgba(153,8,6,0.68) 82%, rgba(150,12,12,0.65) 91%, rgba(147,16,18,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc1610', endColorstr='#931012', GradientType=1 );
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}